-
	let pageTitle = 'Index',
	socLinks = [
		{icon: 'Tw', label: 'Twitter', link: 'https://twitter.com/welltory'},
		{icon: 'Fb', label: 'Facebook', link: 'https://www.facebook.com/welltory'},
		{icon: 'Ins', label: 'Instagram', link: 'https://www.instagram.com/welltory/'},
		{icon: 'Li', label: 'LinkedIn', link: 'https://www.linkedin.com/company/welltory'},
	],
	tariffs = [
		{title: 'Monthly', value: 'monthly', price: '$ 5.99', oldPrice: '$ 7.99', discount: '– 15%', caption: 'Billed every month'},
	];
