-
	let pageTitle = 'Index',
	aboutItems = [
		{title: 'Консультация с широким активом', descr: 'А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.'},
		{title: 'В своём стремлении повысить', descr: 'Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества.'},
	],
	nav = [
		'О нас',
		'Проекты',
		'Этапы',
		'Отзывы',
		'Контакты',
	];
