@use 'mlut/src/tools' as ml;
@use '../includes/vars' as *;

.btn {
	padding: 0px;
	line-height: normal;
	@include ml.apply('-Ts-mClr');
}

.btn--burger {
	position: relative;
	display: block;
	width: 30px;
	height: 23px;

	&::before {
		position: absolute;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 3px;
		color: $color-black;
		background: currentColor;
		box-shadow: 0 -10px 0 0, 0 -20px 0 0;
		content: '';
	}

	&-open::before {
		width: 18px;
		color: $color-orange1;
		box-shadow: 0px 10px 0px 0px;
	}
}

.btn--search {
	&:hover {
		color: $color-orange1;
	}
}

.btn--common {
	padding: 12px 26px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	background: $color-orange0;

	@include ml.bp('md') {
		padding: 25px 37px;
		font-size: 24px;
	}

	&:hover,
	&:focus {
		outline: none;
		background: rgba(255, 153, 0, 0.7);
	}
}

.btn--invert {
	background: transparent;
	border: 3px solid $color-orange0;

	&:hover,
	&:focus {
		background: $color-orange0;
		border: 3px solid transparent;
	}
}

.btn--common:active {
	background: $color-orange1;
}
