@use 'mlut/src/tools' as ml;

.main-section {
	position: relative;
	padding: ml.px2rem(60px) 21px ml.px2rem(60px) 22px;
	color: #fff;
	text-align: center;

	@include ml.bp('md') {
		padding: ml.px2rem(160px) 40px;
		text-align: left;
	}

	@include ml.bp('lg') {
		padding: ml.px2rem(160px) 77px;
	}

	@include ml.bp('xl') {
		padding: ml.px2rem(100px) 80px;
	}
}

.main-section__title {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: ml.px2rem(20px);
	font-weight: 800;

	@include ml.bp('md') {
		margin-bottom: 16px;
		font-size: ml.px2rem(50px);
	}

	@include ml.bp('lg') {
		margin-bottom: 16px;
		font-size: ml.px2rem(60px);
	}

	@include ml.bp('xxl') {
		margin-bottom: 24px;
		font-size: ml.px2rem(70px);
	}
}

.main-section__text {
	margin-bottom: 32px;
	font-size: 12px;
	font-weight: 700;

	@include ml.bp('md') {
		margin-bottom: 60px;
		font-size: ml.px2rem(18px);
	}

	@include ml.bp('lg') {
		font-size: ml.px2rem(20px);
	}

	@include ml.bp('xxl') {
		margin-bottom: 90px;
		font-size: ml.px2rem(24px);
	}
}

.main-section__content {
	position: relative;
	z-index: 1;
	max-width: 815px;
}

.main-section__slider {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
}
