include tools/vars.pug
include tools/mixins.pug

doctype html
html(lang="ru")
	head
		- pageTitle = 'Евклид проектные системы';
		include includes/head.pug
	body.page
		include includes/header.pug
		main.wrapper
			.section.main-section
				.main-section__content
					h1.main-section__title Проектные решения любой сложности
					p.main-section__text Есть над чем задуматься: базовые сценарии поведения пользователей и по сей день остаются уделом проектантов
					a.btn.btn--common.btn--accent(href='#') Заказать расчёт
				.main-section__slider.gallery
					ul.gallery__list
						- for(let i=0; i < 3; i++)
							li.gallery__item: img(src=`img/slide${i}.jpg` alt)
			section.section
				h2.section-title О нас
				p Также как перспективное планирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и грандиозности. А также диаграммы связей могут быть описаны максимально подробно. Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов требует от нас анализа как самодостаточных, так и внешне зависимых концептуальных решений! Следует отметить, что высококачественный прототип будущего проекта предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего проекта способствует повышению качества экспериментов.
				.section-grid
					.info-card
						picture.info-card__img
							source(srcset='img/about.webp', type='image/webp')
							img(src='img/about.jpg' alt='Рабочий на стройке забивает гвоздь')
						.info-card__text
							p Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации новых принципов.
							a.btn.btn--common.btn--invert(href='#') Подробнее
					h3.visually-hidden Наши преимущества
					ul.features-list
						each item in aboutItems
							li.feature
								h4.feature__title= item.title
								p.feature__text= item.descr
