@use 'mlut/src/tools' as ml;
@use 'includes/vars' as *;

*:focus:not(:active) {
	outline: 2px solid $color-orange0;
}

body {
	color: $color-black;
	font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system, Arial, sans-serif;
}

.wrapper {
	display: block;
	max-width: 1770px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;

	@include ml.bp('sm') {
		padding-right: 25px;
		padding-left: 25px;
	}

	@include ml.bp('md') {
		padding-right: 50px;
		padding-left: 50px;
	}

	// фикс группировки медиа запросов
	@include ml.bp('lg') {
		max-width: 1770px;
	}

	@include ml.bp('xl') {
		padding-right: 75px;
		padding-left: 75px;
	}
}

.sr-only {
	@include ml.apply('-D-vh');
}

.section {
	margin-bottom: ml.px2rem(60px);
	line-height: 2;

	@include ml.bp('md') {
		margin-bottom: ml.px2rem(80px);
	}

	@include ml.bp('xl') {
		margin-bottom: ml.px2rem(100px);
	}
}

.gallery {
	overflow: hidden auto;
}

.gallery__list {
	margin: 0px;
	padding: 0px;
}

.gallery__item {
	img {
		max-width: 250%;
	}
}

.section-title {
	margin-top: 0px;
	margin-bottom: ml.px2rem(20px);
	font-size: ml.px2rem(24px);
	line-height: normal;
	font-weight: 400;

	@include ml.bp('md') {
		font-size: ml.px2rem(48px);
	}
}

.about-section__text {
	margin-bottom: ml.px2rem(17px);
	max-width: 1235px;

	@include ml.bp('md') {
		margin-bottom: ml.px2rem(65px);
	}
}

.about-section__img {
	max-width: 924px;
	margin: 0px auto ml.px2rem(32px);
}
